<!DOCTYPE HTML>
<html>
    
    <head>
    
        <meta charset="UTF-8">
        <title>Your Colleges</title>
        
        <!-- CSS -->
        <link href="result.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
        <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
        
        <!-- JS -->
        <script type="text/javascript" src="ejs.min.js"></script>
        <script src="result.js"></script>
        
    </head>
    
    <body>
        
        <script>
            Number.prototype.toFixedDown = function(digits) {
              var n = this - Math.pow(10, -digits)/2;
              n += n / Math.pow(2, 53); // added 1360765523: 17.56.toFixedDown(2) === "17.56"
              return n.toFixed(digits);
            }
        </script>

        <div id="dbsux">
            
            <h1>Here are your Top 5 Colleges based on your preferences!</h1>
    
                <% for (var result in results){ %>

                    <button class="accordion"><%- JSON.stringify(results[result].instnm) %><i class="icon ion-plus-round plus"></i></button>
                    <div class="panel">
                        
                        <table class="table">
                            <tr>
                                <th rowspan="3"><span class="percentage"><%- JSON.stringify(results[result].match_rate * 100) %> %</span></th>
                                <td>State: <%- JSON.stringify(results[result].pref_state) %></td>
                            </tr>
                            <tr>
                                <td>Instate Tuition: $<%- JSON.stringify(results[result].instate) %></td>
                            </tr>
                            <tr>
                                <td>Out of State Tuition: $<%- JSON.stringify(results[result].outstate) %></td>
                            </tr>

                        </table>
                        
                    </div>

                <% } %>
        </div>
        
        <script>
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].onclick = function(){
                    this.classList.toggle("active");
                    this.nextElementSibling.classList.toggle("show");
                }
            }
        </script>
        
    </body>
    
</html>